{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
  <div id="main">
    <div id="hero">
      <h1> {{ .Title}} </h1>
      <p class="hero-lead">
           {{ .Params.bref | safeHTML }}.
      </p>

    </div> 
    <div id="kube-component" class="content">
    {{ partial "toc" .}}

    <ul class="legend">
      <li> are-we-yet-level level="0" : everything is awesome<a href="https://www.youtube.com/watch?v=9cQgQIMlwWw" target="_blank">™</a>: stable, tested and mature</li>
      <li> are-we-yet-level level="1" : stuff's pretty great</li>
      <li> are-we-yet-level level="2" : getting there, stable but still maturing</li>
      <li> are-we-yet-level level="3" : not yet stable, but progressing</li>
      <li> are-we-yet-level level="4" : unstable/incomplete, needs work</li>
      <li> are-we-yet-level level="5" : barely there, needs serious work</li>
      <li> are-we-yet-level level="6" : basically nonexistent</li>
    </ul>

    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
    {{end }}
    </div>
    </div>
{{ end }}