{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>Haskell Guide</h1>
    <p>Usage of basic Haskell functionality dramatically improves software engineering quality but when people and companies start the journey they often find what's being discussed on social media and blogged about is astronaut territory. HaskellGuide.com fixes that. We provide practial guidance on how to use Haskell in industry and module based learning that teaches you how to optimise for approachable codebases that are easy to understand and work with.</p>
    <p>Made with 💖 by <a href="https://twitter.com/geoffreyhuntley">@GeoffreyHuntley</a> and our wonderful <a href="/contributors">contributors</a>. Every page on this website has an edit link (the octocat button) that enables you contribute directly from your browser. If you spot an opportunity to improve, we'd love to have it.</p> 
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
