  <footer id="footer">
    <nav>
      <ul>
        <li><span>HaskellGuide.com</span></li>
        <li>
          <a href="/guides/">Guidance</a>
        </li>
        <li>
          <a href="/learn/">Learn Haskell</a>
        </li>

        <li>
          <a href="/license/">License</a>
        </li>
        <li>
          <a href="/thanks/">Contributors</a>
        </li>
        <li>
          <a href="/code-of-conduct/">Code of Conduct</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">🙏 Give a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>Made with 💖 by <a href="https://twitter.com/geoffreyhuntley">@GeoffreyHuntley</a> and our wonderful <a href="/contributors">contributors</a>. Every page on this website has an edit link (the octocat button) that enables you contribute directly from your browser. If you spot an opportunity to improve, we'd love to have it.</p>
  </footer>